name: Spacecowboy app CI

on:
  push:
    branches: [ main ]
    paths:
      - "app/**"
      - ".github/workflows/run-jest.yaml"
  pull_request:
    branches: [ main ]
    paths:
      - "app/**"
      - ".github/workflows/run-jest.yaml"

jobs:
  build:

    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: app

    steps:
      - uses: actions/checkout@v5

      - uses: pnpm/action-setup@v2
        with:
          version: 6.32.9

      - name: Use Node.js
        uses: actions/setup-node@v5
        with:
          node-version: 22

      - run: pnpm install

      - run: pnpm test
